<footer>
    <div class="container">
        <div class="text-center">
            <p>&copy; 2020 - <a href="http://vega.red">Vega.red</a></p>
            <p>MIT License</p>
        </div>
    </div>
</footer>