{% extends "base.html.twig" %}

{% if actived is not defined %}
    {% set actived = false %}
{% endif %}

{% block stylesheets %}{{ parent() }}{% endblock %}
{% block javascripts %}{{ parent() }}{% endblock %}

{% block body %}
    <div class="main">
        {% include "global/navbar.html.twig" %}
        <div class="content__inner">
            <div class="row">
                <div class="col-md-9">
                    {% block content %}{% endblock %}
                </div>
                <div class="col-md-3">
                    {% include 'global/sidebar.html.twig' with {'actived': actived} %}
                </div>
            </div>
        </div>
        {% include "global/footer.html.twig" %}
    </div>
{% endblock %}