{% if pageCount > 1 %}
    <div class="listview__item">
        <div class="float-right">
            <a href="{{ path(route, query|merge({('pagesize'): 15})) }}" title="show 15 items per page" class="page-numbers{% if numItemsPerPage == 15 %} current{% endif %}">15</a>
            <a href="{{ path(route, query|merge({('pagesize'): 30})) }}" title="show 30 items per page" class="page-numbers{% if numItemsPerPage == 30 %} current{% endif %}">30</a>
            <a href="{{ path(route, query|merge({('pagesize'): 50})) }}" title="show 50 items per page" class="page-numbers{% if numItemsPerPage == 50 %} current{% endif %}">50</a>
            <span class="page-numbers desc">per page</span>
        </div>
        {% include 'global/_pagination_list.html.twig' %}
    </div>
{% endif %}