<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>{% block title %}{{ sitename }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('styles') }}
    {% endblock %}
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    {% block javascripts %}
        {{ encore_entry_script_tags('scripts') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
