{% set actived = 'post' %}

{% extends "global/layout.html.twig" %}

{% block content %}
    <header class="content__title">
        <h1>All posts</h1>
    </header>
    <div class="card">
        <div class="toolbar toolbar--inner">
            <div class="toolbar__label">Total {{ posts.getTotalItemCount }} posts</div>

        </div>
        {% include "post/_list.html.twig" with {'tags_list': true} %}
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}