{% set actived = 'post' %}

{% extends "global/layout.html.twig" %}

{% block content %}
    <div class="card">
        <div class="card-body">
            {% include "post/_list.html.twig" with {'tags_list': true} %}
        </div>
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}